
    @media (max-width: 850px) {
      .menu-sidebar {
        width: 60px;
        padding: 20px 6px;
        align-items: center;
      }

      .menu-logo {
        display: none;
      }

      .menu-item {
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
      }

      .menu-item img {
        margin: 0;
      }

      .menu-item span {
        display: none;
      }

      .menu-settings {
        align-items: center;
      }

      .main-content {
        margin-left: 0;
        justify-content: center;
      }
    }