

/* footer랑 main */

.content-container{ 
    /* 풋터랑 메인을 같이 묶고 있음 */
    /* 헤더바 위치 비우기위해서 */
    margin-left: 250px;

    overflow-x: hidden;
    /* background-color: yellowgreen;  */
    display: flex;
    width: 900px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    min-width: 0;
}

main{
    /* 풋터 비우기 위해서 */
    margin-bottom: 150px;
    top: 0;
    padding: 20px;
    flex: 1;
    width: 100%;
}
.top-container{
    /* background-color: yellow; */
    height: 45vh;
    /* photo-icon-container의 섹션 */
}

.photo-icon-container{
    /* 카메라 아이콘과 닉네임, 프로필 편집, 팔로우 있는 박스 묶어 놓은 것 */

    /* background-color: red; */

    display: flex;
    height: 100%;
}
.photo-icon-container>.camera-container{
    /* 카메라 아이콘이 있는 컨테이너 */

    /* background-color: aqua; */
   
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera-container>.camera-box{
    width: 65%;
    height: 100%;

    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-box>a {
    /* 카메라 아이콘이 있는 a태그 */

    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;            
    justify-content: center;
    align-items: center;
    background-color:gray;
    opacity: 90%;
}

.camera-box>a>img {
    /* 카메라 아이콘 */
    width: 130px;  
    height: 130px;
}


.photo-icon-container>.nickname-container{  
    /* 닉네임 게시물 팔로워 팔로우 이름이 들어가있는 컨테이너 */

    padding-top: 90px;
    /* background-color: rgb(158, 136, 179); */
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nickname-container>h6{
    font-size: 100%;
}

.nickname-container>div{
    /* (닉네임, 프로필편집, 보관된 스토리), (게시물, 팔로워, 팔로우) */
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
}
.nickname-container>div>a{
    padding: 5px;
}
.gray-button{
    /* 프로필 편집, 보관된 스토리 보기 버튼 */
    /* background-color: lightgray;  */
    border-radius: 15%; 
    font-weight: bold;
    flex-wrap: wrap;
}



.new-container{
    /* 신규 아이콘과 신규가 있는 컨테이너 */

    height: 30vh;
    width: 50%;
    /* background-color: hotpink; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.new-box{
    height: 80%;
    width: 100%;
} 
.new-box>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
}
.new-box>a>.plus-box{

    /* 신규 아이콘과 신규가 있는 박스 */
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 45%;
}

.new-box>a>.plus-box>img{
    width: 130px;
    height: 130px;
    object-fit: contain;
} 




.post-container{
    /* 게시물, 저장됨, 태그됨 있는 섹션 */

    border-top: 1px solid #dbdbdb;   
    /* background-color: violet; */
    height: 10vh;

    display: flex;
    justify-content: center;
    
}
.post-box{

}
.post-box>a{
    
    display: inline-block;
    /* background-color: rgb(138, 138, 45); */
    margin: 15px 20px 0 20px;
}


.start-container{
    
    height: 35vh;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}
.start-container>h6{
    font-size: 15px;
    
}

.start-big-box{
    display: flex;
    margin: 0;
    margin-top: auto;
    
    height: 98%;
    /* background-color: rgb(74, 74, 87) */
}
.start-big-box>.start-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;
    margin: 0 10px;
    gap: 10px;
    /* background-color: red; */
    max-width: 40%;
}
.start-box>img{
    width: 35%;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
}
.start-box>button{
    background-color: blue;
    color: white;
    border-radius: 14%;
    padding: 7px;
}
.start-box>:nth-child(2){
    font-weight: bold;
}

.start-box>:nth-child(3){
    text-align: left;
    max-width: 100%;
    /* background-color: aqua; */
    height: 20%;
    font-size: 12px;
}





